.dashboard_wrapper {
	display: flex;
	height: 100vh;
}
.dashboard_left {
	flex-grow: 1;
	background-color: #020203;
	width: 12vh;
}
.dashboard_right {
	flex-grow: 7;
	margin: 4vh 8vh;
}

.dashboard_right_header h1 {
	margin-bottom: 1.2rem;
}
.dashboard_right_header span {
	color: red;
	margin: 0.5rem;
}

.dashboard_box {
	display: flex;
}

.dashboard_box_left_top {
	width: 100vh;

	margin: 2rem 0 1rem 0;
	background-color: #fbfbfb;

	padding: 2rem;
}
.dashboard_box_left_bottom {
	display: flex;
}

.dashboard_box_right {
	width: 30vh;
	margin-top: 2rem;
	margin-left: 2vh;
}

.isSet {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
}

@media only screen and (max-width: 1280px) {
	.dashboard_box_left_top {
		width: 90%;
		height: 300px;
	}

	.dashboard_box_left_top {
		margin: 2rem 0 1rem 0;
	}

	.dashboard_box_left {
		width: 75vh;
	}

	.dashboard_box_right {
		margin-left: 0vh;
	}
}
