.dashboard_wrapper {
	display: flex;
	height: 90vh;
}
.dashboard_left {
	flex-grow: 0.5;
	border: 1px solid black;
}
.dashboard_right {
	flex-grow: 10;
	border: 1px solid black;
}

.dashboard_box {
	display: flex;
}
.dashboard_box_left_bottom {
	display: flex;
}
