.customTooltip {
	background: #ffffff;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 8px;
}

.line {
	position: absolute;
	top: 0;
	right: 0;
	width: 85px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 3;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.composedChart_container {
	position: relative;
	width: fit-content;
	background: red;
	border-radius: 10px;
}

.composedChart_title {
	position: absolute;
	top: 20px;
	left: 20px;
	max-width: 145px;
	z-index: 5;
	color: #ffffff80;
}

@media only screen and (max-width: 1280px) {
	.composedChart_title {
		font-size: 12px;
	}

	.line {
		width: 50px;
	}

	.composedChart_container {
		width: 182px !important;
		height: 182px !important;
	}

	.in_composedChart_container {
		width: 182px !important;
		height: 182px !important;
	}
}
