.pie_container {
	background: #fbfbfb;
	position: relative;
	border-radius: 6px;
}

.pie_title {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 5;
	font-size: 1rem;
	text-align: left;
	color: black;
	font-weight: 500;
}

.pie_score {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	padding: 55px;
	border-radius: 50%;
	background: white;
}

.percent {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	color: black;
}

.text {
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	color: #74798c;
}

@media only screen and (max-width: 1280px) {
	.pie_title {
		font-size: 0.6rem;
	}

	.pie_wrapper {
		width: 182px !important;
		height: 182px !important;
	}

	.pie_score {
		width: 30px;
		height: 30px;
		padding: 35px;
	}

	.percent {
		font-size: 1.2rem;
	}

	.text {
		font-size: 0.5rem;
	}
}
