.header_wrapper {
	display: flex;
	height: 10vh;
}
.header_left {
	flex-grow: 1;
	border: 1px solid black;
	display: flex;
	align-items: center;
}
.header_right {
	flex-grow: 5;
	border: 1px solid black;
	display: flex;
	align-items: center;
}
